<h1>
    User Profile
</h1>
<form action="/pusher" method="POST">
    <button type="submit" class="btn btn-primary btn-lg" formaction="/release">Release</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
    <link href="/style.css" rel="stylesheet" type="text/css">
</ul>